/* #region Fonts */

@font-face {
  font-family: Heebo;
  font-style: normal;
  src: url(../Font/Heebo.ttf);
}

@font-face {
  font-family: Honk;
  font-style: normal;
  src: url(../Font/Honk-Regular.ttf);
}

/* #endregion  Fonts*/

/* #region Global */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 80%;
  margin: 2% auto;
  background: rgb(243, 183, 64, 0.9);
  border: 1px solid;
  border-radius: 20px;
}

body {
  background-image: url(../images/background_main_page.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #e0b219;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #fc4482;

}

/* #endregion Global */

/* #region Header */

header {
  border-bottom: 1px solid rgb(0, 0, 0);
  text-decoration: none;
}

#main_header {
  flex-grow: 1;
  flex: 50%;
}

#main_header img {
  height: 200px;
}

#main_header {
  width: 450px;
  padding-top: 20px;
  padding-left: 8%;
}

.main_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav_links {
  display: inline;
  gap: 50px;
}

.nav_links {
  padding-inline: 5%;
}

.nav_links li {
  list-style: none;
}

.nav_links a {
  text-decoration: none;
  font-size: 55px;
}

.link {
  margin: 40px;
  font-size: 40px;
}

.nav_links img {
  height: 55px;
  vertical-align: middle;
}

/* #endregion Header */

/* #region Main */

#h1index {
  padding: 3%;
}

h1 {
  text-align: center;
  font-size: 2.2em;
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: 'honk';
  font-size: 4em;
}

.main_part {
  display: flex;
  flex-wrap: nowrap;
}

.main_part>.item {
  flex: 50%;
}

.main_story>H2 {
  font-family: 'honk';
  text-align: center;
  font-size: 4em;
  padding: 5%;
  border-top: 1px solid rgb(0, 0, 0);
}

.main_story>h3 {
  font-family: 'honk';
  text-align: center;
  font-size: 2.5em;
}

.main_story>p {
  font-family: 'Heebo';
  padding: 3%;
  font-size: 1.5em;
}

.item>img {
  width: 80%;
  padding: 5%;
  margin-inline: 10%;
  margin-block: 15%;
}

.item>h1 {
  font-family: 'honk';
  margin: 10%;
  padding: 0;
  font-size: 5em;
}

.item>p {
  font-family: 'Heebo';
  margin: 5%;
  font-size: 1.4em;
}

figure {
  display: flex;
}

figure>img {
  width: 95%;
  margin: 2.5%;
  border-radius: 10px;
}

.input-group {
  padding-left: 3%;
  font-family: 'honk';
  font-size: 2.5em;
}

#contactIMG>img {
  width: 100%;
  margin-block: 15%;
  padding-inline: 3%;
}

.canfind {
  padding-left: 1.5%;
}

/* #region FeedBack + Review */

.stars {
  direction: rtl;
  font-size: 50px;
  display: flex;
  justify-self: start;
  padding-left: 2%;
  padding-bottom: 10px;
}

.stars input {
  display: none;
}

.stars label {
  color: rgb(255, 0, 153);
  cursor: pointer;
}

.stars input:checked~label,
.stars input:checked~input:checked~label {
  color: rgb(234, 255, 0);
}

.stars label:hover,
.stars label:hover~label {
  color: rgb(234, 255, 0);
}

#feedIMG>img {
  width: 100%;
  margin-block: 5%;
  padding-inline: 3%;
}

.reviewCont {
  display: flex;
  flex-wrap: nowrap;
  padding-block: 5%;
}

.reviewIMG {
  flex: 30%;
  width: 100%;
  text-align: center;
}

.reviewIMG img {
  border-radius: 10px;
}

.review {
  flex: 70%;
  padding-right: 5%;
}

.review span {
  color: rgb(255, 0, 153);
  font-size: 2.5em;
}

.review h2 {
  padding-top: 1%;
  border-bottom: 1px solid #000000;
  font-family: 'honk';
  font-size: 2em;
}

.review p {
  padding-top: 3%;
  font-family: 'Heebo';
  font-size: 1.3em;
}

/* #endregion FeedBack + Review */

/* #region Classes html */

/* #region Character Carousel */

.character-carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 20px;
  padding: 20px;
  scrollbar-width: thin;
  scrollbar-color: #fc4482 #f8e645;
}

.character-carousel::-webkit-scrollbar {
  height: 8px;
}

.character-carousel li {
  flex: 0 0 auto;
  scroll-snap-align: center;
  list-style: none;
  background: linear-gradient(135deg, #f8e645, #fc4482);
  padding: 15px;
  border-radius: 15px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s;
  text-align: center;
  position: relative;
}

.character-carousel li:hover {
  transform: scale(1.05);
}

.character-carousel img {
  width: 210px;
  height: auto;
  border-radius: 10px;
  display: block;
  margin: auto;
}

.character-carousel li span {
  display: block;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
  position: relative;
  top: 10px;
}

.character-carousel {
  font-family: 'honk';
  font-size: 1.5em;
}

/* #endregion Character Carousel */

.classes>p {
  font-family: 'heebo';
  font-size: 1.5em;
  margin: 3%;
}

.classes>span {
  font-family: 'heebo';
  font-size: 1.3em;
  margin: 3%;
}

.classes>h3 {
  font-family: 'honk';
  text-align: center;
  font-size: 3em;
  padding: 5%;
  border-top: 1px solid rgb(0, 0, 0);
}

#h4class {
  font-family: 'honk';
  font-size: 2.6em;
  text-align: center;
  padding-top: 0%;
}

/* #endregion Classes html */

/* #region Accessibility */

#accessmainh1 {
  font-size: 3em;
}

.accessh2 {
  font-family: 'honk';
  font-size: 2em;
}

#accessUl {
  padding-left: 1.5%;
}

.aceessmain {
  padding-inline: 2%;
  font-size: 1.5em;
  font-family: 'Heebo';
  padding-bottom: 2%;
}

/* #endregion Accessibility */

.aboutush2 {
  font-family: 'honk';
  font-size: 2em;
  margin-bottom: 0.5%;
}

.aboutusP {
  padding-left: 2%;
  font-family: 'Heebo';
  font-size: 1.5em;
  padding-bottom: 2%;
}

input {
  background-color: #fdbc30;
  opacity: 0.8;
  border-radius: 15px;
  font-size: 0.8em;
}

#button {
  font-size: 1.1em;
  font-family: 'honk';
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 35px;
  background-color: #fdbc30;
  opacity: 1;
}

#button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s;
}

textarea {
  background-color: #fdbc30;
  opacity: 0.8;
  border-radius: 15px;
  font-size: 0.8em;
}

iframe {
  width: 80%;
  min-height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 50px;
}

/* #endregion Main */

/* #region Footer */

aside {
  text-align: center;
}

#span {
  font-size: 1em;
  font-family: 'Heebo';
  border-top: 1px solid;
}


section {
  font-family: 'Heebo';
  font-size: 1.3em;
  padding: 4%;
}

footer ul {
  padding-bottom: 1.5%;
}

footer li {
  display: inline;
  text-decoration: none;
  margin-inline: 3%;
  font-size: 1.2em;
}

.footer_link {
  text-decoration: none;
}

footer {
  padding-block: 1%;
  font-size: 1.2em;
  text-align: center;
  border-top: 1px solid rgb(0, 0, 0);
}

a:link,
a:visited {
  font-size: 1.2em;
  font-family: 'honk';
  margin: 0.2%;
  font-weight: bold;
}

/* #endregion Footer */

/* #region Media */

/* #region 768px */

@media only screen and (max-width: 768px) {
  #wrapper {
    width: 98%;
    margin: 2% auto;
    background: rgb(243, 183, 64, 0.9);
    border: 1px solid;
    border-radius: 20px;
  }

  h1 {
    font-size: 2.8em;
  }

  .main_part {
    display: flex;
    flex-wrap: wrap;
  }

  .main_part>.item {
    flex: auto;
  }

  #main_header {
    width: 90%;
  }

  #h1index {
    padding: 3%;
  }

  .main_links {
    display: inline;
    text-align: center;
    font-size: 1em;
  }

  .reviewCont {
    display: flex;
    flex-wrap: wrap;
    padding-block: 10%;
  }

  .reviewIMG {
    flex: auto;
    width: 100%;
    text-align: center;
  }

  .review {
    flex: auto;
    padding-right: 2%;
    padding-left: 2%;
  }

  #main_header img {
    height: 150px;
  }

  .aceessmain {
    font-size: 1.3em;
  }

  .accessh2 {
    font-size: 1.7em;
  }

  #accessmainh1 {
    font-size: 2.7em;
  }

  #accessUl {
    padding-left: 5%;
  }

  footer li {
    display: block;
  }

  iframe {
    height: 250px;
  }

  .input-group {
    font-size: 2em;
  }

  #span {
    font-size: 0.8em;
  }
}

/* #endregion 768px */

/* #region 1280px */

@media only screen and (max-width: 1280px) {
  #wrapper {
    width: 98%;
    margin: 2% auto;
    background: rgb(243, 183, 64, 0.9);
    border: 1px solid;
    border-radius: 20px;
  }

  #main_header {
    width: 90%;
  }

  .main_part {
    display: flex;
    flex-wrap: wrap;
  }

  .main_part>.item {
    flex: auto;
  }

  #h1index {
    padding: 3%;
  }

  .main_links {
    display: inline;
    text-align: center;
    font-size: 1em;
  }

  #main_header img {
    height: 150px;
  }

  .aceessmain {
    font-size: 1.3em;
  }

  .accessh2 {
    font-size: 1.7em;
  }

  #accessmainh1 {
    font-size: 2.7em;
  }

  #accessUl {
    padding-left: 5%;
  }

  footer li {
    display: block;
    padding-block: 1%;
  }

  #span {
    font-size: 0.8em;
  }
}

/* #endregion 1280px */

/* #endregion Media */